
Practica1/AGame/src/main/assets/fonts/JosefinSans-Bold.ttf
Practica1/AGame/src/main/assets/fonts/Molle-Regular.ttf
Practica1/AGame/src/main/assets/sprites/close.png
Practica1/AGame/src/main/assets/sprites/eye.png
Practica1/AGame/src/main/assets/sprites/history.png
Practica1/AGame/src/main/assets/sprites/lock.png
Practica1/AGame/src/main/assets/sprites/q42.png
